#main {
   text-align: center;
   background-color: #bbb;
   padding: 15px 0;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-div {
    background-color: goldenrod;
    padding: 20px 0;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #777;
}

#img-caption {
    margin: 10px 10px 0 10px;
}

p {
    text-align: center;
    margin: 0 25px;
    padding-bottom: 30px;
}

#tribute-info h3 {
    margin: 0 30px;
    padding-top: 30px;
}

ul { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
